@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
p,ol {
    width: 90%;
    background-color: black;
    color: lightgray;
    border: 1px solid black;
    margin: 0 auto;
    padding: 20px 10px;
    width: 95%;
    /* text-align: justify; */
}
ol {
    padding: 20px 50px;
} 


#cim {
    background-color: black;
    color: red;
    border: 1px solid black;
    padding: 10px;
    margin: 0 auto;
    width: 95%;
    text-align: center;
}
h2 {
    background-color: black;
    color: orangered;
    border: 1px solid black;
    padding: 10px;
    margin: 0 auto;
    width: 95%;
}
a {
    text-decoration: none;
    color: yellow;
}
a:hover {
    text-decoration: underline;
}
.button {
    color: lightgray;
    text-align: center;
    font-size: 25px;
    padding: 2px;
    margin: 0 30px 0 0;
    background-color: rgb(0, 0, 0);
    display: inline-block;
    position: relative;
    transition: 0.2s;
    text-decoration: underline black;
}

.button:hover {
    transition: 0.3s;
    text-decoration: underline solid red;
}    

#navbar{
    background-color: black;
    padding: 10px 10px;
    margin: 0 auto;
    text-align: center;
    width: 95%;
}
body{
    background-color:black;
    font-family: 'Nova Mono', monospace;
    font-size: 20px;
}
img {
    width: 25%;
}