p {
    width: 90%;
    background-color: lightgray;
    border: 1px solid black;
    margin: 0 auto;
    padding: 20px 10px;
    width: 95%;
    text-align: justify;
}
li{
    width: 90%;
    background-color: lightgray;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
    margin: 0 auto;
    padding: 10px 10px;
    width: 95%;
    text-align: justify;
}

#cim {
    background-color: orange;
    border: 1px solid black;
    padding: 10px;
    margin: 0 auto;
    width: 95%;
}
h2 {
    background-color: red;
    border: 1px solid black;
    padding: 10px;
    margin: 0 auto;
    width: 95%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.button {
    color: black;
    border: 1px solid black;
    text-align: center;
    font-size: 25px;
    padding: 2px;
    margin: 0 30px;
    transition: 0s;
    background-color: lightgray;
}
/* red fade when hover over .button */
.button:hover {
    background-color: red;
    color: white;
    transition: 0.3s;
}
/* .button:hover {
    background-color: red;
    color: white;
} */
#navbar{
    background-color: lightgray;
    border: 1px solid black;
    padding: 10px;
    margin: 0 auto;
    width: 95%;
    
}
body{
    background-color:gray;
}
img {
    width: 25%;
}